<!DOCTYPE html>
<html lang="en">
  <head>
    <script nonce="[[.Nonce]]">
      // https://github.com/GoogleChromeLabs/tti-polyfill
      !(function () {
        if ('PerformanceLongTaskTiming' in window) {
          var g = (window.__tti = { e: [] });
          g.o = new PerformanceObserver(function (l) {
            g.e = g.e.concat(l.getEntries());
          });
          g.o.observe({ entryTypes: ['longtask'] });
        }
      })();
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#000" />

    <title>[[.AppTitle]]</title>

    <base href="[[.AppSubUrl]]/" />

    <link
      rel="preload"
      href="[[.ContentDeliveryURL]]public/fonts/roboto/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2"
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href="[[.ContentDeliveryURL]]public/fonts/gitlab/gitlab-sans/GitLabSans.woff2"
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href="[[.ContentDeliveryURL]]public/fonts/gitlab/jetbrains-mono/JetBrainsMono.woff2"
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href="[[.ContentDeliveryURL]]public/fonts/gitlab/jetbrains-mono/JetBrainsMono-Italic.woff2"
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href="[[.ContentDeliveryURL]]public/fonts/gitlab/jetbrains-mono/JetBrainsMono-Bold.woff2"
      as="font"
      crossorigin
    />
    <link
      rel="preload"
      href="[[.ContentDeliveryURL]]public/fonts/gitlab/jetbrains-mono/JetBrainsMono-BoldItalic.woff2"
      as="font"
      crossorigin
    />

    <link rel="icon" type="image/png" href="[[.FavIcon]]" />
    <link rel="apple-touch-icon" sizes="180x180" href="[[.AppleTouchIcon]]" />
    <!-- https://gitlab.com/gitlab-org/opstrace/opstrace-ui/-/issues/25 - No suitable GitLab svg mask icon is available -->
    <!-- <link rel="mask-icon" href="[[.ContentDeliveryURL]]public/img/grafana_mask_icon.svg" color="#F05A28" /> -->
    <link rel="stylesheet" href="[[.ContentDeliveryURL]]public/build/grafana.[[ .Theme ]].<%= webpack.hash %>.css" />

    <script nonce="[[.Nonce]]">
      performance.mark('frontend_boot_css_time_seconds');
    </script>

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="msapplication-config" content="public/img/browserconfig.xml" />
  </head>

  <body class="theme-[[ .Theme ]] [[.AppNameBodyClass]]">
    <style>
      .preloader {
        height: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .preloader__enter {
        opacity: 0;
        animation-name: preloader-fade-in;
        animation-iteration-count: 1;
        animation-duration: 0.9s;
        animation-delay: 1.35s;
        animation-fill-mode: forwards;
      }

      .preloader__bounce {
        text-align: center;
        animation-name: preloader-bounce;
        animation-duration: 0.9s;
        animation-iteration-count: infinite;
      }

      .preloader__logo {
        display: inline-block;
        animation-name: preloader-squash;
        animation-duration: 0.9s;
        animation-iteration-count: infinite;
        width: 60px;
        height: 60px;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22200%22%20height%3D%22192%22%20fill%3D%22none%22%20class%3D%22tanuki-logo%22%20viewBox%3D%220%200%2050%2048%22%3E%3Cpath%20fill%3D%22%23E24329%22%20d%3D%22m49.014%2019-.067-.18-6.784-17.696a1.792%201.792%200%200%200-3.389.182l-4.579%2014.02H15.651l-4.58-14.02a1.795%201.795%200%200%200-3.388-.182l-6.78%2017.7-.071.175A12.595%2012.595%200%200%200%205.01%2033.556l.026.02.057.044%2010.32%207.734%205.12%203.87%203.11%202.351a2.102%202.102%200%200%200%202.535%200l3.11-2.352%205.12-3.869%2010.394-7.779.029-.022a12.595%2012.595%200%200%200%204.182-14.554Z%22%20class%3D%22tanuki-shape%20tanuki%22%2F%3E%3Cpath%20fill%3D%22%23FC6D26%22%20d%3D%22m49.014%2019-.067-.18a22.88%2022.88%200%200%200-9.12%204.103L24.931%2034.187l9.485%207.167%2010.393-7.779.03-.022a12.595%2012.595%200%200%200%204.175-14.554Z%22%20class%3D%22tanuki-shape%20right-cheek%22%2F%3E%3Cpath%20fill%3D%22%23FCA326%22%20d%3D%22m15.414%2041.354%205.12%203.87%203.11%202.351a2.102%202.102%200%200%200%202.535%200l3.11-2.352%205.12-3.869-9.484-7.167-9.51%207.167Z%22%20class%3D%22tanuki-shape%20chin%22%2F%3E%3Cpath%20fill%3D%22%23FC6D26%22%20d%3D%22M10.019%2022.923a22.86%2022.86%200%200%200-9.117-4.1L.832%2019A12.595%2012.595%200%200%200%205.01%2033.556l.026.02.057.044%2010.32%207.734%209.491-7.167L10.02%2022.923Z%22%20class%3D%22tanuki-shape%20left-cheek%22%2F%3E%3C%2Fsvg%3E");
      }

      .preloader__text {
        margin-top: 16px;
        font-weight: 500;
        font-size: 14px;
        font-family: Sans-serif;
        opacity: 0;
        animation-name: preloader-fade-in;
        animation-duration: 0.9s;
        animation-delay: 1.8s;
        animation-fill-mode: forwards;
      }

      .theme-light .preloader__text {
        color: #52545c;
      }

      .theme-dark .preloader__text {
        color: #d8d9da;
      }

      @keyframes preloader-fade-in {
        0% {
          opacity: 0;
          /*animation-timing-function: linear;*/
          animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
        }
        100% {
          opacity: 1;
        }
      }

      @keyframes preloader-bounce {
        from,
        to {
          transform: translateY(0px);
          animation-timing-function: cubic-bezier(0.3, 0, 0.1, 1);
        }
        50% {
          transform: translateY(-50px);
          animation-timing-function: cubic-bezier(0.9, 0, 0.7, 1);
        }
      }

      @keyframes preloader-squash {
        0% {
          transform: scaleX(1.3) scaleY(0.8);
          animation-timing-function: cubic-bezier(0.3, 0, 0.1, 1);
          transform-origin: bottom center;
        }
        15% {
          transform: scaleX(0.75) scaleY(1.25);
          animation-timing-function: cubic-bezier(0, 0, 0.7, 0.75);
          transform-origin: bottom center;
        }
        55% {
          transform: scaleX(1.05) scaleY(0.95);
          animation-timing-function: cubic-bezier(0.9, 0, 1, 1);
          transform-origin: top center;
        }
        95% {
          transform: scaleX(0.75) scaleY(1.25);
          animation-timing-function: cubic-bezier(0, 0, 0, 1);
          transform-origin: bottom center;
        }
        100% {
          transform: scaleX(1.3) scaleY(0.8);
          transform-origin: bottom center;
          animation-timing-function: cubic-bezier(0, 0, 0.7, 1);
        }
      }

      /* Fail info */
      .preloader__text--fail {
        display: none;
      }

      /* stop logo animation */
      .preloader--done .preloader__bounce,
      .preloader--done .preloader__logo {
        animation-name: none;
        display: none;
      }

      .preloader--done .preloader__logo,
      .preloader--done .preloader__text {
        display: none;
        color: #ff5705 !important;
        font-size: 15px;
      }

      .preloader--done .preloader__text--fail {
        display: block;
      }

      [ng\:cloak],
      [ng-cloak],
      .ng-cloak {
        display: none !important;
      }
    </style>

    <div class="preloader">
      <div class="preloader__enter">
        <div class="preloader__bounce">
          <div class="preloader__logo"></div>
        </div>
      </div>
      <div class="preloader__text">Loading GitLab Observability UI</div>
      <div class="preloader__text preloader__text--fail">
        <p>
          <strong>If you're seeing this GitLab Observability UI has failed to load its application files</strong>
          <br />
          <br />
        </p>
        <p>
          1. This could be caused by your reverse proxy settings.<br /><br />
          2. If you host grafana under subpath make sure your grafana.ini root_url setting includes subpath. If not
          using a reverse proxy make sure to set serve_from_sub_path to true.<br />
          <br />
          3. If you have a local dev build make sure you build frontend using: yarn start, yarn start:hot, or yarn
          build<br />
          <br />
          4. Sometimes restarting grafana-server can help<br />
          <br />
          5. Check if you are using a non-supported browser. For more information, refer to the list of <a 
            href="https://grafana.com/docs/grafana/latest/installation/requirements/#supported-web-browsers">
            supported browsers</a>.
        </p>
      </div>
    </div>

    <grafana-app class="grafana-app" ng-cloak>
      <sidemenu ng-hide="isEmbedded" class="sidemenu"></sidemenu>
      <app-notifications-list class="page-alert-list"></app-notifications-list>
      <search-wrapper></search-wrapper>

      <div class="main-view">
        <div ng-view class="scroll-canvas"></div>
      </div>
    </grafana-app>

    <script nonce="[[.Nonce]]">
        window.grafanaBootData = {
          user: [[.User]],
          settings: [[.Settings]],
          navTree: [[.NavTree]]
        };

      // In case the js files fails to load the code below will show an info message.
        window.onload = function() {
          var preloader = document.getElementsByClassName("preloader");
          if (preloader.length) {
            preloader[0].className = "preloader preloader--done";
          }
        };
        [[if .ContentDeliveryURL]]    
          window.public_cdn_path = '[[.ContentDeliveryURL]]public/build/';
        [[end]]
    </script>

    [[if .GoogleTagManagerId]]
      <!-- Google Tag Manager -->
      <script nonce="[[.Nonce]]">
        dataLayer = [
          {
            IsSignedIn: '[[.User.IsSignedIn]]',
            Email: '[[.User.Email]]',
            Name: '[[.User.Name]]',
            UserId: '[[.User.Id]]',
            GroupId: '[[.User.GroupId]]',
            GroupName: '[[.User.GroupName]]',
          },
        ];
      </script>
      <noscript>
        <iframe
          src="//www.googletagmanager.com/ns.html?id=[[.GoogleTagManagerId]]"
          height="0"
          width="0"
          style="display: none; visibility: hidden"
        ></iframe>
      </noscript>
      <script nonce="[[.Nonce]]">
        (function (w, d, s, l, i) {
          w[l] = w[l] || [];
          w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
          var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
          j.async = true;
          j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
          f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', '[[.GoogleTagManagerId]]');
      </script>
      <!-- End Google Tag Manager -->
    [[end]] 

    <% for (key in htmlWebpackPlugin.files.chunks) { %>
      <% if (htmlWebpackPlugin.files.jsIntegrity) { %>
        <script
          nonce="[[.Nonce]]"
          src="[[.ContentDeliveryURL]]<%= htmlWebpackPlugin.files.chunks[key].entry %>"
          type="text/javascript"
          integrity="<%= htmlWebpackPlugin.files.jsIntegrity[htmlWebpackPlugin.files.js.indexOf(htmlWebpackPlugin.files.chunks[key].entry)] %>"
          crossorigin="<%= webpackConfig.output.crossOriginLoading %>">
        </script>
      <% } else { %>
        <script
          nonce="[[.Nonce]]"
          src="[[.ContentDeliveryURL]]<%= htmlWebpackPlugin.files.chunks[key].entry %>"
          type="text/javascript">
        </script>
      <% } %>
    <% } %>
    <script nonce="[[.Nonce]]">
      performance.mark('frontend_boot_js_done_time_seconds');
    </script>
  </body>
</html>