@use '@gitlab/ui/src/scss/variables' as gitlab_ui_variables;

// GitLab Fonts
$font-family-sans-serif: gitlab_ui_variables.$font-family-sans-serif;
$font-family-monospace: gitlab_ui_variables.$font-family-monospace;

// When exporting a new variables, make sure you also add it to gitlab_ui_overrides.scss.d.ts type definition
// Note: the :export object needs to be a flat object ( as nested objects are not supported )
:export {
  fontFamilySansSerif: $font-family-sans-serif;
  fontFamilyMonoSpace: $font-family-monospace;
}
