.gitlab-errortracking-datasource {
  .inline-element {
    margin-right: 5px;
  }
  &.config-editor {
    .heading {
      margin-bottom: 20px;
    }
    .reset-button {
      margin-inline: 5px;
    }
  }
}
